/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: pink;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}



.primary-nav {
	 font-size: 14px;
	 font-weight: 400;
	 letter-spacing: 5px;
	 text-transform: uppercase;
 }
 
  /*
   ========================================
    Navigation
   ========================================
   */
   .nav {
	   text-align: right;
   }
   
.container {
	padding-left: 30px;
	padding-right: 30px
}   
  
.hero h2 {
	font-size: 36px;
}



.hello { 

background: url("images/one.jpeg");
background-repeat: no-repeat;
width: 100vw;
height: 100vh;

}


.logo {
 
  float: left;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  text-transform: uppercase
}
